/* @import url("chrome-extension://__MSG_@@extension_id__/css/materialize.min.css"); */

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/MaterialIconsOutlined-Regular.otf")
        format("opentype");
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

.rating-container {
    background-color: #80d8ff;
    position: relative;
    text-align: center;
}

.rating-container button {
    align-items: center;
    background-color: unset;
    color: #888;
    display: inline-flex;
    left: 1rem;
    margin: auto 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rating-container button:hover {
    background-color: unset;
    color: #f33f3c;
}

.rating-container button .material-icons-outlined {
    font-size: 18px;
}

/* The direction has to be inversed, so that the sibling "~" selector for the
star filling works, as this only selects siblings AFTER the checked input label.
Therefore the input values in the DOM are also reversed.  */
.rating-input {
    display: inline;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating-input input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    width: 24px;
}

/* default style of the star icons is hollow */
.rating-input input[type="radio"] + label::before {
    color: #bfe00c;
    content: "star_outline";
    font-family: "Material Icons Outlined";
    font-size: 24px;
}

/* when there is a rating (checked), fill all stars until a checked input  */
.rating-input input[type=radio]:checked~label::before, 
.rating-input input[type=radio]:hover~label::before,
/* On hover, independent of a radio button being checked, the stars are filled until the hovered label */
.rating-input:hover input[type=radio] + label:hover::before,
.rating-input:hover input[type=radio] + label:hover ~ label::before {
    color: #daf96b;
    content: "star";
}

/* for the hover effect to work on already rated menus, previously filled stars from a checked radio button,
have to be overwritten will outlined ones */
.rating-input:hover input[type="radio"] + label::before {
    color: #bfe00c;
    content: "star_outline";
}

.rating-input input[type="radio"] {
    appearance: none;
    margin: 0;
}

.rating-display {
    text-align: center;
}

.rating-display .material-icons-outlined {
    color: #80d8ff;
    font-size: 12px;
}

.mmr-popup-body {
    padding: 2rem;
}

.mmr-popup-body h1 {
    background-color: #00b1fe;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 15px 5px;
    text-align: center;
}

#mmr-table {
    font-size: 12px;
    table-layout: fixed;
    width: 30rem;
}

#mmr-table thead,
#mmr-table tbody,
#mmr-table tr {
    display: block;
    width: 100%;
}

#mmr-table tbody {
    height: 20rem;
    overflow-y: auto;
}

.mmr-col-s {
    width: 5rem;
}

.mmr-col-l {
    width: 12rem;
}
