/* @import url("chrome-extension://__MSG_@@extension_id__/css/materialize.min.css"); */

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/MaterialIconsOutlined-Regular.otf")
        format("opentype");
}

:root {
    --main-color: #00b1fe;
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

.mmr-delete-btn {
    align-items: center;
    background-color: unset;
    border: none;
    color: #888;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.mmr-delete-btn:hover {
    background-color: unset;
    color: #f33f3c;
}

.rating-container {
    background-color: var(--main-color);
    position: relative;
    text-align: center;
}

.rating-container button {
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rating-container button:hover {
    background-color: unset;
    color: #f33f3c;
}

.rating-container button .material-icons-outlined {
    font-size: 18px;
}

/* The direction has to be inversed, so that the sibling "~" selector for the
star filling works, as this only selects siblings AFTER the checked input label.
Therefore the input values in the DOM are also reversed.  */
.rating-input {
    display: inline;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating-input input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    width: 24px;
}

/* default style of the star icons is hollow */
.rating-input input[type="radio"] + label::before {
    color: #bfe00c;
    content: "star_outline";
    font-family: "Material Icons Outlined";
    font-size: 24px;
}

/* when there is a rating (checked), fill all stars until a checked input  */
.rating-input input[type=radio]:checked~label::before, 
.rating-input input[type=radio]:hover~label::before,
/* On hover, independent of a radio button being checked, the stars are filled until the hovered label */
.rating-input:hover input[type=radio] + label:hover::before,
.rating-input:hover input[type=radio] + label:hover ~ label::before {
    color: #daf96b;
    content: "star";
}

/* for the hover effect to work on already rated menus, previously filled stars from a checked radio button,
have to be overwritten will outlined ones */
.rating-input:hover input[type="radio"] + label::before {
    color: #bfe00c;
    content: "star_outline";
}

.rating-input input[type="radio"] {
    appearance: none;
    margin: 0;
}

.rating-display {
    text-align: center;
}

.rating-display .material-icons-outlined {
    color: var(--main-color);
    font-size: 12px;
}

.mmr-popup body {
    padding: 2rem;
}

.mmr-popup h1 {
    background-color: var(--main-color);
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 15px 5px;
    text-align: center;
}

.mmr-table-container {
    height: 30rem;
    overflow-y: auto;
}

#mmr-table {
    font-size: 12px;
    height: 100%;
    overflow-y: auto;
    width: 30rem;
}

#mmr-table thead tr {
    background-color: #fff;
    border: none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    z-index: 1;
}

.mmr-flex-v-align {
    align-items: center;
    display: flex;
}
